* {
	font-family: sans-serif, verdana, arial;
}

#wrapper {
	height: auto; width: 600px;
	margin: 0px auto;
	border: 1px solid black;
	padding: 20px;
}

h1 {
	margin-top: 0px;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

img {
	display: inline-block; vertical-align: top;
}

.description {
	display: inline-block; vertical-align: top;
}

.green {
	color: green;
}